nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background-color: var(--pink10);
  border-bottom: 2px solid var(--pink10);
}

.nav_search {
  width: 50%;
  height: 50px;
}

.nav_search button[type="submit"] {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50% 0 0 50%;
  border: none;
  cursor: pointer;
  color: var(--grey100);
  transform: translateX(4px);
}

.nav_search button[type="submit"]:hover i {
  transform: scale(1.1);
}

.nav_search button[type="submit"] i {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 52px;
  font-size: 1.2em;
  transition: ease-in 0.2s;
}

#search_input {
  width: calc(100% - 110px);
  height: 50px;
  padding: none;
  border: none;
  outline: none;
  transform: translateY(-3px);
  color: var(--grey100);
}

.filter_button {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 0 50% 50% 0;
  border: none;
  cursor: pointer;
  color: var(--grey100);
  transform: translateX(-4px);
}

.filter_button i {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 52px;
  font-size: 1.2em;
  transition: ease-in 0.2s;
}

.nav_search .filter_button:hover i {
  transform: scale(1.1);
}

.nav_logo object {
  height: 70px;
}

.nav_login {
  display: none;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 15px var(--pink100);
}

.userImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav_noLogin {
  display: block;
  margin-right: 20px;
  height: 50px;
}

.nav_noLogin button {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 15px white;
  color: var(--grey100);
}

.nav_noLogin button:nth-child(1) {
  background-color: var(--pink100);
  box-shadow: 0 0 15px var(--pink100);
  color: white;
}

.search_related {
  padding: 5px;
  opacity: 0;
  display: none;
  position: relative;
  width: calc(100% - 10px);
  transform: translateY(12px);
  margin: 0 auto;
  background-color: white;
  max-height: calc(80px * 3 + 20px);
  overflow: auto;
  transition: ease-in 0.2s;
}

.nav_suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.search_related::-webkit-scrollbar {
  display: none;
}

.nav_suggestion:last-child {
  margin-bottom: 0px;
}

.nav_suggestion h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey100);
  text-align: center;
  max-width: calc(70% - 55px);
  transition: ease-out 0.2s;
}

.nav_suggestion:hover h1 {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  transition: ease-in 0.2s;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.nav_suggestion p {
  display: block;
  line-height: 40px;
  text-align: center;
  width: 200px;
  max-width: calc(20% - 55px);
  height: 40px;
  max-width: 20%;
  background-color: var(--pink60);
  border-radius: 15px;
  color: var(--grey100);
  font-weight: 700;
}

.nav_suggestion img {
  height: 80px;
  width: 55px;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
  }

  .nav_search {
    width: 80%;
    height: 50px;
  }

  .search_related {
    width: 92%;
    transform: translateY(-3px);
  }

  .nav_noLogin {
    margin: 0 auto !important;
  }
}

.nav_filter {
  display: none;
  opacity: 0;
  flex-direction: column;
  background-color: white;
  width: calc(100% - 10px);
  margin: 0 auto;
  height: 140px;
  position: relative;
  transform: translateY(12px);
  transition: ease-in 0.2s;
}

.filter_up,
.filter_down {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter_up div,
.filter_down div {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  width: 20%;
  color: var(--grey100);
  font-weight: 600;
}

.nav_filter input {
  cursor: pointer;
}
