.navbar_home {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: white;
  line-height: 70px;
  box-shadow: 0 0 15px var(--pink100);
}

.wrixy_navbar_logo {
  margin: 12.5px;
  height: 45px;
  width: auto;
  transition: ease-in 0.2s;
}

.wrixy_navbar_logo object {
  margin-top: calc();
  height: 100%;
}

.navbar_search {
  margin: 10px;
  text-align: center;
  width: 50%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid transparent;
  transition: ease-out 0.2s;
}

.navbar_search:focus-within {
  border-bottom: 2px solid var(--pink100);
  transition: ease-in 0.2s;
}

.navbar_search input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  color: var(--grey100);
  font-weight: 600;
  font-size: 1em;
}

.navbar_search input::placeholder {
  color: var(--grey60);
  font-weight: 600;
  text-align: center;
}

.navbar_search form button {
  width: 40px;
  transform: translateY(2px);
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: var(--grey100);
  cursor: pointer;
}

.navbar_profile {
  margin: 10px;
  cursor: pointer;
}

.navbar_profile_img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  transition: ease-in 0.2s;
}

.navbar_profile_img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  transition: ease-in 0.2s;
}

.navbar_profile_img:hover img {
  transition: ease-in 0.2s;
  width: 60px;
  height: 60px;
  transform: translate(-5px, -5px);
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 875px) {
  .navbar_home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: white;
    line-height: 70px;
    box-shadow: 0 0 15px var(--pink100);
  }

  .wrixy_navbar_logo {
    margin: 12.5px 0;
    height: 70px;
    width: auto;
  }

  .navbar_search {
    margin: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid transparent;
    transition: ease-out 0.2s;
  }
}

@media screen and (max-width: 440px) {
  .navbar_home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: white;
    line-height: 70px;
    box-shadow: 0 0 15px var(--pink100);
  }

  .wrixy_navbar_logo {
    margin: 12.5px 0;
    height: 70px;
    width: auto;
  }

  .navbar_search {
    margin: 10px 0;
    width: 100%;
    line-height: 50px;
    border-bottom: 2px solid transparent;
    transition: ease-out 0.2s;
  }

  .navbar_search form {
    display: flex;
  }

  .navbar_search input,
  .navbar_search form button {
    width: auto;
  }
}
