::-webkit-scrollbar {
  display: none;
}

.menu_buttons {
  display: flex;
  width: 90%;
  margin: 30px auto;
  height: 70px;
  justify-content: center;
  text-align: center;
  line-height: 70px;
}

.menu_buttons a {
  width: 50%;
  border-bottom: 2px solid transparent;
  transition: ease-in 0.2s;
}

.menu_buttons a button {
  height: 50px;
  width: 80%;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey100);
  transition: ease-in 0.2s;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.menu_buttons a:hover button {
  border: none;
  border-bottom: 2px solid var(--pink100);
  color: var(--grey60);
  transition: ease-in 0.2s;
}

.menu_button_active {
  background-color: var(--pink100) !important;
  border-radius: 10px;
  color: var(--white) !important;
}

.menu_buttons a:hover .menu_button_active {
  background-color: var(--pink60) !important;
  border-radius: 10px;
  color: var(--white) !important;
}

.home_trends {
  display: flex;
  width: 90%;
  margin: 50px auto;
  justify-content: space-around;
}

.trend_hot {
  display: flex;
  background-color: var(--pink100);
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--white);
  line-height: 40px;
  border-radius: 10px 0 10px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.trend_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.trend_left {
  width: 50%;
}

.trend_book {
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
}
.trend_book_info {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trend_book_info_name {
  font-size: 45px;
  color: var(--grey100);
}

.trend_book_info_stats {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  user-select: none;
}

.trend_book_info_stat {
  display: flex;
  margin: 0 10px;
  color: var(--grey60);
  font-size: 1em;
}

.trend_book_info_desc {
  color: var(--grey100);
  font-weight: 600;
  line-height: 25px;
  max-height: 200px;
  overflow: auto;
}

.trend_book_info_author {
  display: block;
  width: 100px;
  background-color: var(--pink100);
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.trend_book_info_author button {
  background-color: transparent;
  border: none;
  width: 100px;
  color: var(--white);
  cursor: pointer;
}

.trend_book_info_tags {
  display: flex;
  justify-content: start;
  height: 10%;
  align-items: center;
}

.trend_book_info_tags a {
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--pink60);
  padding: 1%;
  border-radius: 10px;
}

.trend_book_image {
  width: 100%;
  height: 400px;
  padding: 2px;
  border: 2px solid var(--grey100);
  border-radius: 0 10px 10px 10px;
}

.trend_book_image img {
  width: auto;
  height: 392px;
  object-fit: cover;
  border-radius: 0 5px 5px 5px;
}

.trend_book_small {
  display: flex;
  margin: 15px 0;
  height: 50%;
}

.trend_book_image_small {
  height: 300px;
  padding: 2px;
  border: 2px solid var(--grey100);
  border-radius: 0 10px 10px 10px;
}

.trend_book_image_small img {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 0 5px 5px 5px;
}

.trend_book_small_info {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trend_book_small_info_name {
  color: var(--grey100);
}

.trend_book_small_info_stats {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  user-select: none;
}

.trend_book_small_info_stat {
  display: flex;
  margin: 0 10px;
  color: var(--grey60);
  font-size: 1em;
}

.trend_book_small_info_desc {
  width: 75%;
  color: var(--grey100);
  font-weight: 600;
  line-height: 25px;
  max-height: 140px;
  overflow: auto;
}

.trend_book_small_info_author {
  display: block;
  width: 100px;
  background-color: var(--pink100);
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.trend_book_small_info_author button {
  background-color: transparent;
  border: none;
  width: 100px;
  color: var(--white);
  cursor: pointer;
}

.trend_book_small_info_tags {
  display: flex;
  justify-content: start;
  height: 10%;
  align-items: center;
}

.trend_book_small_info_tags a {
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--pink60);
  padding: 1%;
  border-radius: 10px;
}

@media screen and (max-width: 1300px) {
  .home_trends {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
  }

  .trend_book {
    background-color: var(--white);
    border-radius: 5px;
  }

  .trend_left {
    width: 100%;
  }

  .trend_right {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .home_trends {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
  }

  .trend_left {
    width: 100%;
  }

  .trend_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .trend_book_small {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .home_trends {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: stretch;
  }

  .trend_hot {
    display: flex;
    background-color: var(--pink100);
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: var(--white);
    line-height: 40px;
    border-radius: 10px 0 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .trend_right {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
  }

  .trend_left {
    width: 100%;
  }

  .trend_book {
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
  }
  .trend_book_info {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .trend_book_info_name {
    font-size: 45px;
    color: var(--grey100);
  }

  .trend_book_info_stats {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    user-select: none;
  }

  .trend_book_info_stat {
    display: flex;
    margin: 0 5px;
    color: var(--grey60);
    font-size: 1em;
  }

  .trend_book_info_desc {
    color: var(--grey100);
    width: 100%;
    font-weight: 600;
    line-height: 25px;
    max-height: 120px;
    overflow: auto;
  }

  .trend_book_info_author {
    display: block;
    width: 100px;
    background-color: var(--pink100);
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    cursor: pointer;
  }

  .trend_book_info_author button {
    background-color: transparent;
    border: none;
    width: 100px;
    color: var(--white);
    cursor: pointer;
  }

  .trend_book_info_tags {
    display: flex;
    justify-content: start;
    height: 10%;
    align-items: center;
  }

  .trend_book_info_tags a {
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink60);
    padding: 5px;
    border-radius: 10px;
  }

  .trend_book_image {
    width: 100%;
    height: 400px;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 0 10px 10px 10px;
  }

  .trend_book_image img {
    width: auto;
    height: 392px;
    object-fit: cover;
    border-radius: 0 5px 5px 5px;
  }

  .trend_book_small {
    display: flex;
    margin: 15px 0;
    height: 50%;
  }

  .trend_book_image_small {
    height: 300px;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 0 10px 10px 10px;
  }

  .trend_book_image_small img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 0 5px 5px 5px;
  }

  .trend_book_small_info {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .trend_book_small_info_name {
    color: var(--grey100);
  }

  .trend_book_small_info_stats {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    user-select: none;
  }

  .trend_book_small_info_stat {
    display: flex;
    margin: 0 10px;
    color: var(--grey60);
    font-size: 1em;
  }

  .trend_book_small_info_desc {
    width: 75%;
    color: var(--grey100);
    font-weight: 600;
    line-height: 25px;
    max-height: 140px;
    overflow: auto;
  }

  .trend_book_small_info_author {
    display: block;
    width: 100px;
    background-color: var(--pink100);
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
  }

  .trend_book_small_info_author button {
    background-color: transparent;
    border: none;
    width: 100px;
    color: var(--white);
    cursor: pointer;
  }

  .trend_book_small_info_tags {
    display: flex;
    justify-content: start;
    height: 10%;
    align-items: center;
  }

  .trend_book_small_info_tags a {
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink60);
    padding: 5px;
    border-radius: 10px;
  }
}
