@font-face {
  font-family: "Product Sans";
  font-style: normal;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Product Sans;
}

:root {
  --pink100: rgb(184, 124, 220);
  --pink60: rgba(185, 124, 220, 0.6);
  --pink30: rgba(185, 124, 220, 0.3);
  --pink10: rgba(185, 124, 220, 0.1);
  --grey100: rgba(50, 42, 65, 0.7);
  --grey60: rgba(50, 42, 65, 0.4);
  --white: white;
}

body {
  background: -webkit-gradient(
      linear,
      right top,
      right bottom,
      from(white),
      to(var(--pink60))
    )
    fixed;
}
